// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background: #00bdb9;
  color: #fff;
  padding: 20px 0;

  @include media-breakpoint-down(sm) {
    .btn {
      min-width: 100%;
    }
  }

  .main-contacts {
    flex-grow: 1;
  }

  .navbar {

    @include media-breakpoint-up(xl) {
      padding-top: 0;
      margin-left: 360px;
    }
  }

  .logo {
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }

}
